{% extends "base.html" %}
{% block title %}TransX| HARAMBEE COOP{% endblock %}
{% block style%}
   {{bootstrap.load_css()}}
   .capitalize-input {
    text-transform: none;
    }
{% endblock %}
{% block content%}
<div style="width: 100%;">
  <div class="tab-container">
    <button class="tablink" onclick="openPage('user', this, 'rgb(236, 245, 236)')"id="defaultOpen">User Maintenance</button>
    <button class="tablink" onclick="openPage('change', this, 'rgb(236, 245, 236)')"id="defaultOpen">Updates</button>
  </div> 


        <div id="user" class="tabcontent">
          <div class="container">
            
            {% from 'bootstrap5/form.html' import render_form %}
              <div class="row justify-content-center">
                  <div class="col-md-8">
                    <h6> <small style="color: #775305;">Please update the user infomation below after confirmation, <em style="color: blue;">Evidence approvals for cases required </em></small></h6>
                      <form action="{{url_for('maintenance')}}" method="POST">
                          <div class="form-inputs" style="text-transform: none;">
                              {{ render_form(user_update_form) }}
                          </div>
                          {% with messages = get_flashed_messages() %}
                          {% if messages %}
                          <hr> 
                              <table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                  <tbody>
                                      <tr>
                                          <td valign="top" style="background:#af154b;padding:3.0pt 3.0pt 3.0pt 3.0pt"></td>
                                          <td style="background:#f57722;padding:3.0pt 3.0pt 3.0pt 3.0pt">
                                              <p><b><span style="font-size:12.0pt;color:white ;font-weight: lighter;">{{ messages[0] }}</span></b></p>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          {% endif %}
                          {% endwith %}
                      </form>
                  </div>
              </div>
          </div>
        </div>



   <div id="change" class="tabcontent">
      <div class="row">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <form  method="POST" onsubmit="return validateCRForm()">
            <div hidden name="update"></div>
            <div class="row">
                <div class="col-50">
                <h6> Password Reset ONLY</h6>
                <label for="customer_id">User ID:</label><br>
                <input style="width: 25%;height: 30px; text-transform: uppercase;" type="text" name="user_id" id="user_id">
                </label><img id="searchIcon" src="{{ url_for('static', filename='search.svg') }}" alt="search data"><br>
              
                <label for="password_ammend">Password</label><br>
                <input type="text" name="password" id="password" ><br>

                <input hidden type="text"  name="status" id="status" value="0"><br>
                
                </div>
    
                <div class="col-50">
                <h6>User Infomation</h6>
                <label for="fname"> lastname/ Last Name</label>
                <input style="color:rgb(160, 164, 214)" type="text" id="userlastname" name="lastname" value="{{requestor.lastname|default('')}}" readonly disabled >
                <label for="fname"> First Name</label>
                <input style="color:rgb(160, 164, 214)" type="text" id="userfirstname" name="firstname" value="{{requestor.firstname|default('')}}" readonly disabled >
                <label for="email">Current Email</label>
                <input style="color:rgb(160, 164, 214)" type="text" id="useremail" name="email" value="{{requestor.email|default('')}}" readonly disabled >
                </div>
              </div>
              <br>
            <input type="submit" value="submit" class="btn btn-success btn-md"> <!--verify guarantee, submit for credit commitee-->
            </form>
            </div> 
          </div>
        </div> 
   </div>
</div>

{% endblock %}
{% block script %}
    {{bootstrap.load_js()}}
    <script src="" async defer></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
