<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TransX| HARAMBEE COOP</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-xxxxx" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
         
    </head>
    <body>
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3ffd7; height: 50px;">
            <div class="container-fluid">
              <a class="navbar-brand"><img src="{{ url_for('static', filename='hsacco.png') }}" alt="logo" width="130" height="40" style="padding-right: 10px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">logout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('home')}}">Documentation</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Processing
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('members')}}">Member Maintenance</a></li>
                        <li><a class="dropdown-item" href="{{url_for('transactions')}}">Transactions </a></li>
                        <li><a class="dropdown-item" href="{{url_for('creditops')}}">Credit Ops </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{url_for('reports')}}">Reports</a></li>  
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a style="background-color: chartreuse;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Credit Operations
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('creditops')}}">credit Application</a></li>
                        <li><a class="dropdown-item" href="{{url_for('creditops_credit_view')}}">credit Status </a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{url_for('auth_guarantor')}}"> Guarantor Excecution </a></li>
                        <li><a class="dropdown-item" href="{{url_for('creditops_credit_auth')}}">credit Appraisal </a></li>
                      </ul>
                     </li>
                     <li class="nav-item">
                      <a class="nav-link" href="{{url_for('productivity')}}">Productivity</a>
                    </li>

                  </ul>
                  <div class="d-flex">
                    <form class="d-flex">                      
                            <img src="{{ url_for('static', filename='user.svg') }}" alt="user:" width="30" height="30" class="me-2">
                        {% if current_user.is_authenticated %}
                            <p> Hi, {{ current_user.firstname }}</p>
                        {% endif %}
                    </form>
                  </div>
                </div>
              </div>
          </nav>
    

        <div class="d-flex" >
    <!--sidebar-->
            <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" style="width: 4.5rem; height: 66px;">
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="background-color: #b3ffd7;">
                    <li class="border border-light">
                        <a href="{{url_for('home')}}" class="nav-link  py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                            <img src="{{ url_for('static', filename='return.svg') }}" alt="mdo" width="30" height="30">
                        </a>
                    </li>
                    <li class="border border-light">
                        <a href="{{url_for('members')}}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
                            <img src="{{ url_for('static', filename='people.svg') }}" alt="mdo" width="30" height="30">
                        </a>
                    </li>
                    <li class="border border-light">
                      <a href="{{url_for('creditops')}}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Dashboard" data-bs-original-title="Dashboard">
                          <img src="{{ url_for('static', filename='credit.svg') }}" alt="mdo" width="30" height="30">
                      </a>
                    </li>
                    <li class="border border-light">
                        <a href="{{url_for('transactions')}}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
                            <img src="{{ url_for('static', filename='CM.svg') }}" alt="mdo" width="30" height="30">
                        </a>
                    </li>
                    <li class="border border-light">
                        <a href="{{url_for('reports')}}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Customers" data-bs-original-title="Customers">
                            <img src="{{ url_for('static', filename='stat_reports.svg') }}" alt="mdo" width="30" height="30">
                        </a>
                    </li> 
                    <li class="border border-light">
                      <a href="{{url_for('statements')}}" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Customers" data-bs-original-title="Customers">
                          <img src="{{ url_for('static', filename='statements.svg') }}" alt="mdo" width="30" height="30">
                      </a>
                    </li>
                </ul >
                <div class="dropdown border-top" style="background-color: #b3ffd7;">
                <a href="#" class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', filename='settings.svg') }}" alt="mdo" width="30" height="30">
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="{{url_for('maintenance')}}">Maintenance</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="{{url_for('setup')}}">Setup</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{url_for('logout')}}">Sign out</a></li>
                </ul>
                </div>
            </div>
    <!--order detail form-->
            <div style="width: 100%;">
                <div class="tab-container">
                <button class="tablink" onclick="openPage('accountview', this, 'rgb(236, 245, 236)')"id="defaultOpen">Customer View | Existing</button>
                <button class="tablink" onclick="openPage('account', this, 'rgb(236, 245, 236)')"id="defaultOpen">Member Onboarding</button>
                </div>
                <div id="account" class="tabcontent">
                <h5>Account Maintenance</h5><hr>
                <p style="font-weight: bold; color: rgb(248, 6, 6);">Member Personal and Registration details: Please Ensure the details are accurate before submitting !</p>
                <div class="row">
                    <div class="col-75">
                    <div class="containerx">
                        <form action="{{url_for('members')}}"method="POST" onsubmit="return validateForm()" autocomplete="off">
                          <input name="create" id="create" hidden>
                
                        <div class="row">
                            <div class="col-50">
                            <h3>Personal Infomation</h3>
                            <label for="regdate"><i class="fa fa-user"></i> Registration date</label><!-- ensure the date is not past today-->
                            <input type="date" id="reg_date" name="reg_date" placeholder="DD/MM/YYYY"><br>
                            <label for="fname"><i class="fa fa-user"></i> lastname/ Last Name</label>
                            <input type="text" id="lastname" name="lastname" placeholder="Name">
                            <label for="fname"><i class="fa fa-user"></i> First Name</label>
                            <input type="text" id="firstname" name="firstname" placeholder="Name">
                            <label for="fname"><i class="fa fa-user"></i> Other Names</label>
                            <input type="text" id="othername" name="othernames" placeholder="Name">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="Name@example.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Contact</label>
                            <input type="text" id="contact" name="contact" placeholder="27..">
                             
                            <div class="row">
                                <div class="col-50">
                                  <label for="ccnum">Country/Residence</label>
                                  <select style="height: 30px; color: rgb(25, 0, 255); border-radius: 5%;" type="text"id="country_of_residence" name="country_of_residence" placeholder="South Africa"> 
                                    <option value="Eastern Cape">Eastern Cape </option>
                                    <option value="Free State">Free State</option>
                                    <option value="Gauteng">Gauteng</option>
                                    <option value="Kwazulu-Natal">Kwazulu-Natal</option>
                                    <option value="Limpopo">Limpopo</option>
                                    <option value="Mpumalanga">Mpumalanga</option>
                                    <option value="Nothern Cape">Nothern Cape</option>
                                    <option value="North West">North West</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Mozambique">Mozambique </option>
                                    <option value="Zimbabwe">Zimbabwe</option>
                                    <option value="Botswana">Botswana</option>
                                    <option value="Tanzania">Tanzania</option>
                                    <option value="Limpopo">Limpopo</option>
                                    <option value="Malawi">Malawi</option>
                                    <option value="DRC">DRC</option>
                                    <option value="Eswatini">Eswatini</option>
                                    <option value="Lesotho">Lesotho</option>
                                    <option value="Madagascar">Madagascar</option>
                                    <option value="Mauritius">Mauritius</option>
                                    <option value="Namibia">Namibia</option>
                                    <option value="Zambia">Zambia</option>
                                  </select>
                                </div><br><br><hr>
                            </div>
                            </div>
                
                            <div class="col-50">
                            <h3>Registration Details</h3>
                            <label for="dob">Date Of Birth</label><br>
                            <input type="date" id="dateofbirth" name="dateofbirth" placeholder="DD/MM/YYYY"><br><br>
                            <br>
                            <label for="gender">Gender</label>
                            <select type="text" id="gender" name="gender" placeholder="Gender"> 
                              <option value="Male">Male </option>
                              <option value="Female">Female</option>
                            </select><br><br>
                            <label for="expmonth">Id/Passport</label>
                            <input type="text" id="identification" name="identification" placeholder="AB012345">
                            <label for="nat">Nationality</label>
                            <input type="text" id="nationality" name="nationality" placeholder="Kenyan">
                              <div class="col-50">
                              <label for="idfile" >ID/ Passport Upload</label><br>
                              <input style="padding-bottom: 20px;" type="file" id="idfile" name="idfile" placeholder="Upload.." disabled>
                              <br>
                              </div>
                              {% with messages = get_flashed_messages() %}
                              {% if messages %}
                              <script>
                                var userConfirmed = confirm("{{ messages[0] }}");
                                if (!userConfirmed) {
                                    // User clicked cancel, prevent the form submission
                                    document.querySelector('form').addEventListener('submit', function(event) {
                                        event.preventDefault();
                                    });
                                }
                              </script>
                              {% endif %}
                              {% endwith %}
                            </div>

                        </div>
                          <label for="mbr_status">Membership Status</label>
                          <select type="text" id="membership_status" name="membership_status" placeholder="Gender"> 
                            <option value="Active">Active </option>
                            <option value="Dormant">Dormant</option>
                          </select>
                            <br><br>
                          <input style="color: rgb(255, 9, 9);" type="checkbox"  name="membership_fee" id="membership_fee" > Confirm membership fee is paid?
                          <br>
                          <input style="color: rgb(255, 9, 9);" type="checkbox"  name="confirm_details_ok" id="confirm_details_ok" > Confirm details are accurate (No Unathorised ammendment after submission)?
                          <br><hr>
                          <div class="col-md-10 text-center mt-3">
                             <input type="submit" value="submit" name="submitBtn" id="submitBtn"  class="btn btn-success ">
                          </div>
                        </form>
                    </div>
                    </div>
                
                </div>
                </div>
                <div id="accountview" class="tabcontent" >
                      <h5>Account View</h5><hr>
                      <p> Search for member details with your Membership ID.
                      </p>
                      <div class="row">
                          <div class="col-75">
                            <div class="containerx">
                              <form action="{{url_for('membersview')}}"method="POST">
                                <input name="fetch" id="fetch" hidden>
                      
                                <div class="row" >
                                  <div class="col-50">
                                  <h5>Personal Infomation</h5>
                                  <label for="customer_id">Search By: Member/Customer ID: </label>
                                  <input style="width: 25%;height: 30px; text-transform: uppercase; color:blue; font-weight: bold;" type="text" name="member_id" id="member_id">
                                  <button type="submit">Get Member Details</button>
                                  <br>
                                  <label for="regdate"><i class="fa fa-user"></i> Registration date</label>
                                  <input style="width: 50%;height: 30px; text-transform: uppercase; color:blue;" type="text" id="created_at" name="created_at" value="{{existing.registration_date|default('')}}"><br>
                                  <label for="fname"><i class="fa fa-user"></i> lastname/ Last Name</label>
                                  <input style="color:blue" type="text" id="lastname" name="lastname" value="{{existing.lastname|default('')}}">
                                  <label for="fname"><i class="fa fa-user"></i> First Name</label>
                                  <input style="color:blue" type="text" id="firstname" name="firstname" value="{{existing.firstname|default('')}}">
                                  <label for="fname"><i class="fa fa-user"></i> Other Names</label>
                                  <input style="color:blue" type="text" id="othername" name="othernames" value="{{existing.othernames|default('')}}">
                                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                  <input style="color:blue" type="text" id="email" name="email" value="{{existing.email|default('')}}">
                                  <label for="adr"><i class="fa fa-address-card-o"></i> Contact</label>
                                  <input style="color:blue" type="text" id="contact" name="contact" value="{{existing.contact|default('')}}">
                                  <label for="city"><i class="fa fa-institution"></i> Country of Residence</label>
                                  <input style="color:blue" type="text" id="country_of_residence" name="country_of_residence" value="{{existing.country_of_residence|default('')}}">
                                  </div>
                      
                                  <div class="col-50">
                                  <h5>Registration Details</h5>
                                  <label for="cname">Date Of Birth</label>
                                  <input style="color:blue" type="text" id="date_ofbirth" name="dateofbirth" value="{{existing.dateofbirth|default('')}}">
                                  <br>
                                  <label for="ccnum">Gender</label>
                                  <input style="color:blue" type="text" id="gender" name="gender" value="{{existing.gender|default('')}}">
                                  <label for="expmonth">Id/Passport</label>
                                  <input style="color:blue" type="text" id="identification" name="identification" value="{{existing.identification|default('')}}">
                      
                                  <div class="row">
                                  <h5>credit Details</h5>
                                      <div class="col-50">
                                      <label for="credit_id">Status</label>
                                      <input style="color:blue" type="text" id="status" name="status" value="{{existing.status|default('')}}">
                                      </div>
                                      <div class="col-50">
                                      <label for="datedue">Last update</label>
                                      <input style="color:blue" type="text" id="updated_at" name="updated_at" value="{{existing.updated_at|default('')}}">
                                      </div>
                                      <div class="col-50">
                                      <label for="expyear">Savings/Other contribution</label>
                                      <input style="color:blue" type="text" id="office" name="office_contact" >
                                      </div>
                                      <div class="col-50">
                                      <label for="cvv">Total shares</label>
                                      <input style="color:blue" type="text" id="alt_contact" name="othet_contact" >
                                      </div>
                                  </div>
                                  <label for="guarantor">Member statements</label>
                                  <a href="{{url_for('reports')}}" id="guarantor" name="guarantor_updates"> VIEW STATEMENTS </a>
                                </div>                     
                                </div>
                              </form>
                          </div>
                        </div>                    
                      </div>
                  </div>
            </div>
         </div>        
          
<!--footer-->  
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <p class="col-md-4 mb-0 text-body-secondary">© 2023 TransX</p>
          
              <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              </a>
          
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="{{url_for('logout')}}" class="nav-link px-2 text-body-secondary">Logout</a></li>
                <li class="nav-item"><a href="{{url_for('members')}}" class="nav-link px-2 text-body-secondary">Accounts</a></li>
                <li class="nav-item"><a href="{{url_for('transactions')}}" class="nav-link px-2 text-body-secondary">Transactions</a></li>
                <li class="nav-item"><a href="{{url_for('reports')}}" class="nav-link px-2 text-body-secondary">Reports</a></li>
              </ul>
            </footer>
        </div>
        <script src="" async defer></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
          var currentDate = new Date().toISOString().split('T')[0];
          document.getElementById('reg_date').setAttribute('max', currentDate);
          document.getElementById('date_ofbirth').setAttribute('max', currentDate);
        </script>
    </body>
