{% extends "base.html" %}
{% block title %}TransX| HARAMBEE COOP{% endblock %}
{% block content%}
<div class="container">
   <div class="row">
       <!-- Search Form -->
       <div class="col-md-12">
           <form action="{{url_for('statements')}}" method="POST">
            <br>
               <label for="customer_id">Member ID:</label>
               <input style="width: 25%;height: 30px; text-transform: uppercase;" type="text" name="customer_id" id="customer_id" >
               <input type="submit" value="View">
           </form>
       </div>
   </div>
   <hr>
   <div class="row">
       <!-- Display Statements -->
       <div class="col-md-12">
           <div id="statement">
            <div class="container-fluid">
               <div class="table-responsive">
                 <table class="table table-striped table-sm">
                  <h4>Customer Statement</h4>
                  <label for="customer_id">MemberID:</label>
                  <input style="width: 10%;height: 30px;border: none; text-transform: uppercase; color: rgb(221, 218, 208);" type="text" name="customer_id" id="customer_id" value="{{user_details.user_id|default('')}}">
                  <label for="customer_id">MemberName:</label>
                  <input style="width: 20%;height: 30px;border: none; text-transform: uppercase; color: blue;" type="text" name="customer_id" id="customer_id" value="{{user_details.narrative_beneficiary|default('')}}" >
                  <label for="transaction_date">FromDate:</label>
                  <input style="width: 10%;height: 30px;border: none" type="text" name="transaction_date" id="transaction_date">
                  <label for="transaction_date">ToDate:</label>
                  <input style="width: 10%;height: 30px; border: none;" type="text" name="transaction_date" id="transaction_date">
                   <thead>
                     <tr>
                       <th>Date</th>
                       <th>Purpose of Transaction</th>
                       <th>Description/creditID</th>
                       <th>Amount</th>
                     </tr>
                   </thead>
                   <tbody>
           <!--insert the updated csv-->  
                    {% for transaction in user_transactions%}
                     <tr>
                       <td class="statement-data" type="text">{{ transaction.date.date() }}</td>
                       <td class="statement-data" type="text">{{ transaction.transaction_purpose }}</td>
                       <td class="statement-data" type="text">
                        {%if transaction.transaction_purpose=='Admin'%}
                             {{ transaction.narrative_beneficiary }}
                        {%elif transaction.transaction_purpose=='credit Disbursement'%}
                             {{ transaction.credit_id }}
                        {% endif %}
                       </td>
                       <td class="statement-data" type="text">{{ "{:,.2f}".format(transaction.amount) }}</td>     
                     </tr> 
                    {% endfor %} 
                   </tbody>
                 </table>

                 <h4>Transactions Summary</h4>
                 
                 <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
                  {% for sum in transaction_sums %}
                  <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3" style="background-color: #b3ffd7;">
                        <h6 class="my-0 fw-normal">{{ sum.transaction_purpose }}</h6>
                      </div>
                      <div class="card-body state">
                        <h4 class="statement-data">{{ "{:,.2f}".format(sum.total_amount) }}</h4>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                 </div>
               </div>
           </div>
       </div>
   </div> 
  </div>

</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
  var userConfirmed = confirm("{{ messages[0] }}");
  if (!userConfirmed) {
      // User clicked cancel, prevent the form submission
      document.querySelector('form').addEventListener('submit', function(event) {
          event.preventDefault();
      });
  }
</script>
{% endif %}
{% endwith %}
{% endblock %}