{% extends "base.html" %}
{% block title %}Academy | Fluid Core{% endblock %}
{% block content%}
<!--infomation-->
    <div class="col-md-9" style="height: auto; min-height: 100px; display: flex; flex-direction: column; align-items: baseline; margin:auto ;">
      <div class="h-3 w-16 bg-green-100"></div>
      <div style="height: 100px;"></div>
      <div class="tiny-label"></div>
      <h4 class="display-4 fw-bold headers-h4 mt-4" style="margin-top: auto;">ADVANCED</h4>
      <p class="euro" style="align-self:baseline;" >Content suitable for students in Senior High School (Grade 10-12)</p>
    </div>

<!--Tabs-->

    <div class="container-fluid col-md-9 m-md-auto">
      <button class="tablink" onclick="openPage('math', this, 'rgb(236, 245, 236)')"id="defaultOpen">MATH</button>
      <button class="tablink" onclick="openPage('science', this, 'rgb(236, 245, 236)')"id="defaultOpen">SCIENCE</button>
      <button class="tablink" onclick="openPage('computer', this, 'rgb(236, 245, 236)')"id="defaultOpen">COMPUTER</button>
      <button class="tablink" onclick="openPage('statsData', this, 'rgb(236, 245, 236)')"id="defaultOpen">STAT&DATA</button>
    </div>

<!--Tabcontent-->
    <div id="math" class="tabcontent col-md-9 m-md-auto">
      <div style="padding: 0%; margin-top: 10px;" >
        <section class="section2">
        <h5 class="text-h5">MATH : </h5>
        <dl class="row">
          <dt class="col-sm-2 ">Description</dt>
          <dd class="col-sm-10 ">A Short description</dd>
          <dt class="col-sm-2">Demonstration</dt>
          <dd class="col-sm-10">
            <p style="margin-bottom: 0;">Steps in calculation</p>
            <ol class="1">
              <li>step 1</li>
              <li>step 2</li>
            </ol>
          </dd>
        
          <dt class="col-sm-2">Example</dt>
          <dd class="col-sm-10">The Subject is used in data</dd>
        
          <dt class="col-sm-2 text-truncate">Application</dt>
          <dd class="col-sm-10"> To calculate the Use-case we use the steps set in the Topic</dd>
        
          <dt class="col-sm-2">Excercise</dt>
          <dd class="col-sm-10"> Please calculate the Example using steps in the topic
            <dl class="row">
              <dd class="col-sm-12 fw-bold">Solution:</dd>
              <dd class="col-sm-12">Topic IN steps = Solution</dd>
            </dl>
          </dd>
        </dl>
      </section>
      </div>
    </div>

    <div id="science" class="tabcontent col-md-9 m-md-auto">
      <div style="padding: 0%; margin-top: 10px;" >
        <section class="section2">
        <h5 class="text-h5">SCIENCE : </h5>
          <dl class="row">
            <dt class="col-sm-2 ">Description</dt>
            <dd class="col-sm-10 ">A Short description</dd>
          
            <dt class="col-sm-2">Demonstration</dt>
            <dd class="col-sm-10">
              <p style="margin-bottom: 0;">Steps in calculation</p>
              <ol class="1">
                <li>step 1</li>
                <li>step 2</li>
              </ol>
            </dd>
          
            <dt class="col-sm-2">Example</dt>
            <dd class="col-sm-10">The Subject is used in data</dd>
          
            <dt class="col-sm-2 text-truncate">Application</dt>
            <dd class="col-sm-10"> To calculate the Use-case we use the steps set in the Topic</dd>
          
            <dt class="col-sm-2">Excercise</dt>
            <dd class="col-sm-10"> Please calculate the Example using steps in the topic
              <dl class="row">
                <dd class="col-sm-12 fw-bold">Solution:</dd>
                <dd class="col-sm-12">Topic IN steps = Solution</dd>
              </dl>
            </dd>
          </dl>
        </section>
      </div>
    </div>

    <div id="computer" class="tabcontent col-md-9 m-md-auto">
      <div style="padding: 0%; margin-top: 10px;" >
        <section class="section2">
          <h5 class="text-h5">COMPUTER : </h5>
          <dl class="row">
            <dt class="col-sm-2 ">Description</dt>
            <dd class="col-sm-10 ">A Short description</dd>
          
            <dt class="col-sm-2">Demonstration</dt>
            <dd class="col-sm-10">
              <p style="margin-bottom: 0;">Steps in calculation</p>
              <ol class="1">
                <li>step 1</li>
                <li>step 2</li>
              </ol>
            </dd>
          
            <dt class="col-sm-2">Example</dt>
            <dd class="col-sm-10">The Subject is used in data</dd>
          
            <dt class="col-sm-2 text-truncate">Application</dt>
            <dd class="col-sm-10"> To calculate the Use-case we use the steps set in the Topic</dd>
          
            <dt class="col-sm-2">Excercise</dt>
            <dd class="col-sm-10"> Please calculate the Example using steps in the topic
              <dl class="row">
                <dd class="col-sm-12 fw-bold">Solution:</dd>
                <dd class="col-sm-12">Topic IN steps = Solution</dd>
              </dl>
            </dd>
          </dl>
        </section>
      </div>
    </div>

    <div id="statsData" class="tabcontent col-md-9 m-md-auto">
      <div style="padding: 0%; margin-top: 10px;" >
        <section class="section2">
          <h5 class="text-h5"> STATS&DATA : </h5>
          <dl class="row">
            <dt class="col-sm-2 ">Description</dt>
            <dd class="col-sm-10 ">A Short description</dd>
            <dt class="col-sm-2">Demonstration</dt>
            <dd class="col-sm-10">
              <p style="margin-bottom: 0;">Steps in calculation</p>
              <ol class="1">
                <li>step 1</li>
                <li>step 2</li>
              </ol>
            </dd>
            <dt class="col-sm-2">Example</dt>
            <dd class="col-sm-10">The Subject is used in data</dd>
            <dt class="col-sm-2 text-truncate">Application</dt>
            <dd class="col-sm-10"> To calculate the Use-case we use the steps set in the Topic</dd>
            <dt class="col-sm-2">Excercise</dt>
            <dd class="col-sm-10"> Please calculate the Example using steps in the topic
              <dl class="row">
                <dd class="col-sm-12 fw-bold">Solution:</dd>
                <dd class="col-sm-12">Topic IN steps = Solution</dd>
              </dl>
            </dd>
          </dl>
        </section>
      </div>
    </div>
    <div class=" math-page col-md-9 ">
      <div class="flex-container m-4">
        <table class="ruled-book">
            <tbody>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9+\-*/]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
              <tr class="ruled-book-ans">
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
                <td><input maxlength="1" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 1);"></td>
              </tr>
                <!-- End of all rows -->
            </tbody>
        </table>
      </div>
      </div>
    
    

{% endblock %}       
          
